# ignore capture files.
*.dmp
*.pcap
*.pcapng

# Ignore the venv (requirements is given so they can make it themselves)
.venv/

# Ignore editor
.vscode/

udp_ping/


# Ignore executables
*.out
*.exe
twig
tools/socket_time
*.o
